extends ../layouts/common
block content
  h1 Create a new user
  if errors
    each error in errors
      .alert.alert-danger= error
  form.navbar-form.navbar-left(action='/users/create' method='POST')
    .form-group
      input.form-control(type='text', placeholder='Name', name='name', value=values?values.name:'')
      input.form-control(type='text', placeholder='Phone Number', name='phone', value=values?values.phone:'')
      button.btn.btn-default() Submit